@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@theme {
  --color-primary: #f2f4f3;
  --color-secondary: #0a0908;
  --color-accent: #a52da5;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
